body{
    background-color: rgb(202, 230, 252);
}
header{
    font-size: 60px;
    padding-top: 20px;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: bolder;
    text-align: center;   
    padding-bottom: 0px;
    
}
.info{
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    position:fixed;
    display: box;
    border-radius: 25px;
    background-color: aliceblue;
    width: fit-content;
    padding: 50px;
}
.c{
    display: flex;
    justify-content: center;
    margin-top: 0;
}
#namethai{
    height: 20px;
    
}
#lastnamethai{
    height: 20px;
}
#name{
    height: 20px;
}
#lastname{
    height: 20px;
}
#stdid{
    height: 20px;
}
#faculty{
    font-size: 17px;
}
#email{
    height: 20px;
}
#Typesofbooks{
    font-size: 17px;
   
}
#newsletter{
    height: 15px;
    width: 20px;
}
#submit{
    width: 100px;
    height: 30px;
    border-radius: 25px ;
    border-color: black;
    background-color: rgb(144, 192, 255);
}
